@import "./styles/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  font-family: "Barlow", sans-serif;
  color: $mainTextDark;
}

p,
span,
b,
button,
input,
a {
  font-family: "Poppins", sans-serif !important;
}

.container {
  width: 85%;
  margin: 0 auto;
}
.flex{
  display: flex;
  align-items: center;
}
button{
  cursor: pointer;
}

@media (max-width: 912px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .container {
    width: 95%;
  }
}
